/public/images//*
/public/groups/*
private_data/agent_files/userToken.txt
private_data/agent_files/agentBehaviour.txt
private_data/agent_files/generatedUser.txt
private_data/agent_files/hostServer.js
public/images/profile_border.jpg

logs
*.log
npm-debug.log*
