/public/images//*
/public/groups//*
/node_modules/lwip/
private_data/agent_files/userToken.txt
private_data/agent_files/agentBehaviour.txt
private_data/agent_files/generatedUser.txt
private_data/agent_files/hostServer.js
public/images/profile_border.jpg
/public/groups/
.DS_Store
logs
*.log
npm-debug.log*

views/driverless.hjs
public/javascripts/others/two.js
node_modules/serialport/
node_modules/object.assign/
node_modules/define-properties/
node_modules/foreach/
node_modules/function-bind/
node_modules/graceful-readlink/
node_modules/immediate/
node_modules/lie/
node_modules/object-keys/
controller/test/
node_modules/.bin/serialport-list
node_modules/.bin/serialport-term


