#map {
	width: 1100px;
	max-width: 80%;
	height: 400px;
	display:inline-block;
}

#container{
	width: 220px;
	height: 300px;
	vertical-align: top;
	display: table-row;
}

#tree-container {

}

.end-note{
	display: block;
	text-align: right;
	font-size: x-small;
	position: relative;
	float: right;
	padding-bottom: 30px;
}

#total-container{
	display:inline-block;
	float: right;
	max-width: 225px;
	width: 20%;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#grad_bar {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, red, white, yellow); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, yellow, white, red); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, yellow, white, red); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, yellow, white, red); /* Standard syntax */
	width: 180px;
	height: 18px;
}

.highcharts-button{
	display: none;
}

#jk, #pb {
	display: inline-block;
	width: 49%;
}

#jk{
	text-align: right;
}

#legend-container, #viz-container {
	position: absolute;
}

#viz-container {
	width: 100%;
}

#legend-container {
	z-index: 999;
	margin-top: 350px;
	margin-left: 20px;
	/*font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
}

.legend-text-container{
	height: 180px;
}

#big-container {
	margin-top: 25px;
	position: relative;
}

.outer-container h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: "Bebas Neue";
	font-size: 56px;
	margin-bottom: 25px;
}

.outer-container {
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.subtitle {
	display:table-row;
	margin-bottom: 40px;
}

.subtitle p{
	text-align: justify;
	display:table-cell;
	vertical-align: middle;
	padding: 0 20px;
}
.subtitle-img{
	height: 150px;
	display: table-cell;
}
body {
	/*font-family: 'Roboto Condensed';*/
	font-family: 'Lato', sans-serif;
}

body svg {
	font-family: 'Lato', sans-serif !important;
}
#stackedBar {
	height: 100px;
}